body {
  font-family: "Spectral", serif;
  font-size: 20px;
  color: #4b4c4e;
  background-image: url("bg2.png");
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

.main {
  padding: 20px;
}

.resultKeyName {
  padding-right: 20px;
}

.critterCard {
  /*background: #f5e6b3;*/
  background-image: url("bg.png");
  border-radius: 3px;
  box-shadow: 1px 1px 5px 2px #5e584a;
  margin: 20px;
  padding: 10px;
  position: relative;
}

.critterCardRow {
}
.number {
  position: absolute;
  top: 5px;
  right: 10px;
}

.name-block {
  text-align: center;
}

.name {
  padding: 5px 30px;
  color: #5e584a;
  margin-top: 1px;
  font-size: 25px;
  line-height: 1.5;
  transform: rotate(-4deg);
  display: inline-block;
}
.name-content {
  display: inline-block;
  /*background-color: #fefff5;*/
  background: url("name-bg.png");
  background-size: 100% 100%;
  padding: 8px;
  /*box-shadow: 5px 3px 4px 1px;*/
}

.availablitly {
}

.availablitly-spacer {
}

.location-wrap {
  border-top: 1px solid #a59b66;
  padding: 5px 0;
}

.card-title {
  background: #d3d291;
  color: #3f4b03;
  padding: 0 3px;
  flex: 0;
  margin: 5px 10px 0 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
}

.month {
  background: none;
  border-radius: 3px;
  color: #d2cb97;
  padding: 2px 10px;
  margin: 5px 5px;
}

.available {
  background: url("month-bg.png");
  color: #4b4c4e;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.search-bar {
  flex-grow: 1;
}

.spacer {
  flex: 0 0 auto;
}

.inline {
  display: "inline-flex";
}

.search-bar input[type="text"] {
  padding: 4px 5px;
  font-size: 24px;
  border: 2px solid #4b4c4e;
  width: 100%;
  background: #ebe2c7;
  border-radius: 4px;
  outline: none;
}

.hemisphereSelect {
  font-size: 18px;
  min-width: 150px;
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 0;
  }
  .search-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
    flex-direction: column;
  }
  .search-bar {
    min-width: 100%;
  }
  .hemisphereSelect {
    font-size: 18px;
    min-width: 104%;
    margin-top: 10px;
  }
}
