body {
  font-family: "Spectral", serif;
  font-size: 20px;
  color: #8c7b66;
  background-image: url("./bg.png");
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input[type="text"] {
  padding: 2px 5px;
  font-size: 20px;
  border: 1px solid #e8e8e8;
  width: 50%;
}

h1 {
  text-align: center;
}

.main {
  padding: 20px;
}

.critterCard {
  background: #f5f7e1;
  border-radius: 3px;
  box-shadow: 3px 3px 4px #8c7b66;
  margin: 20px;
  padding: 10px;
  position: relative;
}

.critterCardRow {
}

.resultKeyName {
  padding-right: 20px;
}

.number {
  position: absolute;
  top: 5px;
  right: 10px;
}

.name {
  font-size: 30px;
  color: #5e584a;
}

.availablitly {
}

.availablitly-spacer {
}

.location-wrap {
  border-top: 1px solid #a59b66;
  padding: 5px 0;
}

.card-title {
  background: #d3d291;
  color: #3f4b03;
  padding: 0 3px;
  flex: 0;
  margin: 5px 10px 0 0;
}

.calendar {
  border: 1px solid #a59b66;
  margin: 5px 0 5px 0;
  padding: 5px 2px;
}

.month {
  background: #bfba08;
  border-radius: 3px;
  color: #4a4b2b;
  padding: 2px 10px;
  margin: 5px 5px;
}
